/* #footer {
    background-color: #545555;
    color: white;
}

#footer.container {
    margin: 0;
    width: 100%;
    max-width: none;
    min-height: 300px;
    display: grid;
    align-items: center;
}

#footerLink {
    color: white !important;
    text-decoration: none !important;
} */

.footer {
    background: url('../../assets/image/DnDfooter_copy.jpeg') no-repeat center center;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }
  
  .footer-overlay {
    /* background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 15px;
    border: 2px solid gold;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.8);
    animation: glowing 3s infinite alternate; */
    margin-top: 20px;
  }
  
  .footer-text {
    /* color: #d4af37;
    font-family: "Cinzel", serif;
    text-shadow: 2px 2px 5px rgba(255, 223, 100, 0.8); */
    font-size: 1.5rem;
    text-align: center;
  }
  