:root {
  --ddb_red: #C73032;
  --barbarian_f: #E7623E;
  --bard_rogue: #AB6DAC;
  --cleric_silver:#91A1B2;
  --druid_moss: #7A853B;
  --fighter_rust: #7F513E;
  --monk_sky: #51A5C5;
  --paladin_gold: #B59E54;
  --ranger_em: #507F62;
  --rogue_ash: #555752;
  --sorcerer_blood: #992E2E;
  --warlock_iris: #7B469B;
  --wizard_cobalt: #2A50A1;

  --primary_dark: #333333;
  --primary_gray: #616161;
  --primary_light: #e3e3e3;
  --khaki: #f1e9e08c;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-paper {
  background-image: url('../src/assets/image/old-paper-bar.png') no-repeat center center;
}

